html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  
  
}
.buttonRound{
  border-radius: 40px;
  height: 80px;
  width: 80px;
  background-color: lightgrey;

}

.mainPart{
  position: absolute;
  top: 25vh;
  text-align:center;
}
i.fa-bars{
  /* position: absolute;
  bottom: 3vh; */
  
  color: hsl(231, 9.6%, 59.2%)

}

.coldColor{
 background-color: rgba(63, 191, 191, 0.48);
 text-align: center;
  
 }

.warmColor{
    background-color: rgba(247, 196, 43, 0.65);
    text-align: center;
  
  
}
.localStorageDisplay{
  background-color: white;
  width: 100vw;
  height: 100vh;
 
}
.weather{
  margin: 0;
  width: 100vw;
}
.storedLocation{
width: 100vw;
padding: 3vw;
margin:0;

}