*{
  box-sizing: border-box;
  margin:0;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* overflow-x:hidden;  */
}

.mainPart {
  position: relative;
  top: 15vh;
  text-align: center;
}

.circleDiv {
  width: 5em;
  height: 5em;
  position: absolute;
  top: -5vh;
  right: 4vh;
}

.buttonRound {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: lightgrey;
}

@media (max-width: 400px) {
  .circleDiv {
    position: absolute;
    right: 1vh;
    top: -5vh;
  }
}

i.fa-bars {
  color: hsl(231, 9.6%, 59.2%);
}

.coldColor {
  background-color: rgba(63, 191, 191, 0.48);
  text-align: center;
}

.warmColor {
  background-color: rgba(247, 196, 43, 0.65);
  text-align: center;
}
/* Local Storage */
.localStorageDisplay {
  background-color: white;
  position: relative;
  min-height: 20vh;
  
}

.storedLocation {
  padding-top: 3vh;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}

/* Weather */
.weather{
  min-height: 20vh;
}
.weatherName {
  font-size: 3em;
}
.weatherTemp {
  font-size: 2.5em;
}
@media (max-width: 450px) {
  .weatherName {
    font-size: 2em;
  }
  .weatherTemp {
    font-size: 1.5em;
  }
}

/* Quote */
.quoteTitle {
  font-size: 1.3em;
  color: rgb(141, 144, 161);
}

.quoteContent {
  font-size: 2em;
  font-style: italic;
}
@media (max-width: 450px) {
  .quoteContent {
    font-size: 1em;
  }
  .quoteTitle {
    font-size: 0.7em;
  }
}

/* ICONS */
/* Cloud*/
@keyframes moving {
  0% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px);
  }
}

.back-cloud {
  left: -78px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  top: 40px;
}

.front-cloud {
  animation: moving 5s linear 0s infinite;
  left: 80px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  top: 80px;
}
.cloud-shadow {
  animation: moving 3s linear 0s infinite;
  transform: scale(1.09);
  left: 74px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  top: 78px;
}
.cloud-one-shadow {
  background: white;
  position: absolute;
  height: 50px;
  width: 300px;
  border-radius: 25px;
}

.cloud-two-shadow {
  position: absolute;
  background: white;
  top: -50px;
  left: 40px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.cloud-three-shadow {
  position: absolute;
  background: white;
  top: -80px;
  left: 120px;
  height: 129px;
  width: 140px;
  border-radius: 50%;
}

/* Sun */
.weather-container {
  height: 150px;
  margin: 0 auto;
  position: relative;
  right: 37px;
  top: 55px;
  width: 250px;
}

.sun {
  background: #fff134;
  height: 100px;
  border-radius: 50%;
  width: 100px;
  position: absolute;
  right: 72px;
  top: -38px;
}
/* Rain */
@keyframes raining {
  0%,
  60%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.rain1 {
  display: inline-block;
  background: #00cde1;
  height: 30px;
  border-radius: 30px;
  width: 10px;
  transform: rotate(30deg);
  animation: raining 2.25s ease-in-out 0s infinite;
  margin: 0 10px;
}

.rain2 {
  display: inline-block;
  background: #00cde1;
  height: 30px;
  border-radius: 30px;
  width: 10px;
  transform: rotate(30deg);
  animation: raining 2.25s ease-in-out -1.5s infinite;
  margin: 0 10px;
}

.rain3 {
  display: inline-block;
  background: #00cde1;
  height: 30px;
  border-radius: 30px;
  width: 10px;
  transform: rotate(30deg);
  animation: raining 2.25s ease-in-out -0.75s infinite;
  margin: 0 10px;
}
.rains {
  position: absolute;
  width: 110px;
  left: -10px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  top: 50px;
}

.clouds {
  left: 20px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  top: 40px;
}

.cloud-one {
  background: #d9d9d9;
  position: absolute;
  height: 50px;
  width: 300px;
  border-radius: 25px;
}

.cloud-two {
  position: absolute;
  background: #d9d9d9;
  top: -50px;
  left: 40px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.cloud-three {
  position: absolute;
  background: #d9d9d9;
  top: -80px;
  left: 120px;
  height: 129px;
  width: 140px;
  border-radius: 50%;
}

/* Snow */
@keyframes snowing {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
    transform: translateY(6px);
  }

  40% {
    opacity: 1;
    transform: translateY(12px);
  }

  60% {
    opacity: 1;
    transform: translateY(18px);
  }

  80% {
    opacity: 1;
    transform: translateY(24px);
  }

  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}

.snows {
  position: absolute;
  width: 140px;
}

.snow1 {
  background: #fff;
  height: 10px;
  border-radius: 50%;
  width: 10px;
  position: absolute;
  animation: snowing 3s linear 0s infinite;
  top: 20px;
}

.snow2 {
  background: #fff;
  height: 10px;
  border-radius: 50%;
  width: 10px;
  position: absolute;
  animation: snowing 4s linear 0s infinite;
  left: 20px;
  top: 25px;
}

.snow3 {
  background: #fff;
  height: 10px;
  border-radius: 50%;
  width: 10px;
  position: absolute;
  animation: snowing 3.5s linear 0s infinite;
  left: 40px;
  top: 30px;
}

.snow4 {
  background: #fff;
  height: 10px;
  border-radius: 50%;
  width: 10px;
  position: absolute;
  animation: snowing 2.5s linear 0s infinite;
  left: 60px;
  top: 28px;
}

.snow5 {
  background: #fff;
  height: 10px;
  border-radius: 50%;
  width: 10px;
  position: absolute;
  animation: snowing 4.5s linear 0s infinite;
  left: 80px;
  top: 20px;
}

.snow6 {
  background: #fff;
  height: 10px;
  border-radius: 50%;
  width: 10px;
  position: absolute;
  animation: snowing 5s linear 0s infinite;
  left: 100px;
  top: 28px;
}
